<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt List</title>
    <link rel="stylesheet"   href="../../static/recipt_list.css">
</head>


<body>
    <div class="container">
        <div class="row">
            <div >
                <h2 >List of exported receipts</h2>

            </div>
        </div>
    </div>
    {% if data %}
    {% for r in data %}
        <div class="row">
            <div class="icon-50 pink-bg-alt border-radius-50 ">
                <i onclick="NewTab()">{{ r._id }}</i>
            </div>

        </div>
    {% endfor %}
    {% endif %}

      <script>
          function NewTab() {
              window.open(
              "recipt", "_blank");
          }


    </script>
</body>
</html>