<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - [CSS Animation] Codrops Collective #500 cover</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="../static/500.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="ooo" style="--col:16;">
  <div class="title">Sorry! Something went wrong on our side...</div>
  <div class="oo">
    <div class="o" o="0.15" style="--dcr:0;--ndx:0;--size:0.15;"></div>
    <div class="o" o="0.207" style="--dcr:0.067;--ndx:0.067;--size:0.207;"></div>
    <div class="o" o="0.263" style="--dcr:0.133;--ndx:0.133;--size:0.263;"></div>
    <div class="o" o="0.32" style="--dcr:0.2;--ndx:0.2;--size:0.32;"></div>
    <div class="o" o="0.377" style="--dcr:0.267;--ndx:0.267;--size:0.377;"></div>
    <div class="o" o="0.433" style="--dcr:0.333;--ndx:0.333;--size:0.433;"></div>
    <div class="o" o="0.49" style="--dcr:0.4;--ndx:0.4;--size:0.49;"></div>
    <div class="o" o="0.547" style="--dcr:0.467;--ndx:0.467;--size:0.547;"></div>
    <div class="o" o="0.603" style="--dcr:0.533;--ndx:0.533;--size:0.603;"></div>
    <div class="o" o="0.66" style="--dcr:0.6;--ndx:0.6;--size:0.66;"></div>
    <div class="o" o="0.717" style="--dcr:0.667;--ndx:0.667;--size:0.717;"></div>
    <div class="o" o="0.773" style="--dcr:0.733;--ndx:0.733;--size:0.773;"></div>
    <div class="o" o="0.83" style="--dcr:0.8;--ndx:0.8;--size:0.83;"></div>
    <div class="o" o="0.887" style="--dcr:0.867;--ndx:0.867;--size:0.887;"></div>
    <div class="o" o="0.943" style="--dcr:0.933;--ndx:0.933;--size:0.943;"></div>
    <div class="o" o="1" style="--dcr:1;--ndx:1;--size:1;"></div>
    <div class="o" o="0.207" style="--dcr:-0.067;--ndx:0;--size:0.207;"></div>
    <div class="o" o="0.256" style="--dcr:0;--ndx:0.067;--size:0.256;"></div>
    <div class="o" o="0.305" style="--dcr:0.067;--ndx:0.133;--size:0.305;"></div>
    <div class="o" o="0.354" style="--dcr:0.133;--ndx:0.2;--size:0.354;"></div>
    <div class="o" o="0.403" style="--dcr:0.2;--ndx:0.267;--size:0.403;"></div>
    <div class="o" o="0.452" style="--dcr:0.267;--ndx:0.333;--size:0.452;"></div>
    <div class="o" o="0.501" style="--dcr:0.333;--ndx:0.4;--size:0.501;"></div>
    <div class="o" o="0.55" style="--dcr:0.4;--ndx:0.467;--size:0.55;"></div>
    <div class="o" o="0.6" style="--dcr:0.467;--ndx:0.533;--size:0.6;"></div>
    <div class="o" o="0.649" style="--dcr:0.533;--ndx:0.6;--size:0.649;"></div>
    <div class="o" o="0.698" style="--dcr:0.6;--ndx:0.667;--size:0.698;"></div>
    <div class="o" o="0.747" style="--dcr:0.667;--ndx:0.733;--size:0.747;"></div>
    <div class="o" o="0.796" style="--dcr:0.733;--ndx:0.8;--size:0.796;"></div>
    <div class="o" o="0.845" style="--dcr:0.8;--ndx:0.867;--size:0.845;"></div>
    <div class="o" o="0.894" style="--dcr:0.867;--ndx:0.933;--size:0.894;"></div>
    <div class="o" o="0.943" style="--dcr:0.933;--ndx:1;--size:0.943;"></div>
    <div class="o" o="0.263" style="--dcr:-0.133;--ndx:0;--size:0.263;"></div>
    <div class="o" o="0.305" style="--dcr:-0.067;--ndx:0.067;--size:0.305;"></div>
    <div class="o" o="0.346" style="--dcr:0;--ndx:0.133;--size:0.346;"></div>
    <div class="o" o="0.388" style="--dcr:0.067;--ndx:0.2;--size:0.388;"></div>
    <div class="o" o="0.43" style="--dcr:0.133;--ndx:0.267;--size:0.43;"></div>
    <div class="o" o="0.471" style="--dcr:0.2;--ndx:0.333;--size:0.471;"></div>
    <div class="o" o="0.513" style="--dcr:0.267;--ndx:0.4;--size:0.513;"></div>
    <div class="o" o="0.554" style="--dcr:0.333;--ndx:0.467;--size:0.554;"></div>
    <div class="o" o="0.596" style="--dcr:0.4;--ndx:0.533;--size:0.596;"></div>
    <div class="o" o="0.637" style="--dcr:0.467;--ndx:0.6;--size:0.637;"></div>
    <div class="o" o="0.679" style="--dcr:0.533;--ndx:0.667;--size:0.679;"></div>
    <div class="o" o="0.72" style="--dcr:0.6;--ndx:0.733;--size:0.72;"></div>
    <div class="o" o="0.762" style="--dcr:0.667;--ndx:0.8;--size:0.762;"></div>
    <div class="o" o="0.804" style="--dcr:0.733;--ndx:0.867;--size:0.804;"></div>
    <div class="o" o="0.845" style="--dcr:0.8;--ndx:0.933;--size:0.845;"></div>
    <div class="o" o="0.887" style="--dcr:0.867;--ndx:1;--size:0.887;"></div>
    <div class="o" o="0.32" style="--dcr:-0.2;--ndx:0;--size:0.32;"></div>
    <div class="o" o="0.354" style="--dcr:-0.133;--ndx:0.067;--size:0.354;"></div>
    <div class="o" o="0.388" style="--dcr:-0.067;--ndx:0.133;--size:0.388;"></div>
    <div class="o" o="0.422" style="--dcr:0;--ndx:0.2;--size:0.422;"></div>
    <div class="o" o="0.456" style="--dcr:0.067;--ndx:0.267;--size:0.456;"></div>
    <div class="o" o="0.49" style="--dcr:0.133;--ndx:0.333;--size:0.49;"></div>
    <div class="o" o="0.524" style="--dcr:0.2;--ndx:0.4;--size:0.524;"></div>
    <div class="o" o="0.558" style="--dcr:0.267;--ndx:0.467;--size:0.558;"></div>
    <div class="o" o="0.592" style="--dcr:0.333;--ndx:0.533;--size:0.592;"></div>
    <div class="o" o="0.626" style="--dcr:0.4;--ndx:0.6;--size:0.626;"></div>
    <div class="o" o="0.66" style="--dcr:0.467;--ndx:0.667;--size:0.66;"></div>
    <div class="o" o="0.694" style="--dcr:0.533;--ndx:0.733;--size:0.694;"></div>
    <div class="o" o="0.728" style="--dcr:0.6;--ndx:0.8;--size:0.728;"></div>
    <div class="o" o="0.762" style="--dcr:0.667;--ndx:0.867;--size:0.762;"></div>
    <div class="o" o="0.796" style="--dcr:0.733;--ndx:0.933;--size:0.796;"></div>
    <div class="o" o="0.83" style="--dcr:0.8;--ndx:1;--size:0.83;"></div>
    <div class="o" o="0.377" style="--dcr:-0.267;--ndx:0;--size:0.377;"></div>
    <div class="o" o="0.403" style="--dcr:-0.2;--ndx:0.067;--size:0.403;"></div>
    <div class="o" o="0.43" style="--dcr:-0.133;--ndx:0.133;--size:0.43;"></div>
    <div class="o" o="0.456" style="--dcr:-0.067;--ndx:0.2;--size:0.456;"></div>
    <div class="o" o="0.482" style="--dcr:0;--ndx:0.267;--size:0.482;"></div>
    <div class="o" o="0.509" style="--dcr:0.067;--ndx:0.333;--size:0.509;"></div>
    <div class="o" o="0.535" style="--dcr:0.133;--ndx:0.4;--size:0.535;"></div>
    <div class="o" o="0.562" style="--dcr:0.2;--ndx:0.467;--size:0.562;"></div>
    <div class="o" o="0.588" style="--dcr:0.267;--ndx:0.533;--size:0.588;"></div>
    <div class="o" o="0.615" style="--dcr:0.333;--ndx:0.6;--size:0.615;"></div>
    <div class="o" o="0.641" style="--dcr:0.4;--ndx:0.667;--size:0.641;"></div>
    <div class="o" o="0.668" style="--dcr:0.467;--ndx:0.733;--size:0.668;"></div>
    <div class="o" o="0.694" style="--dcr:0.533;--ndx:0.8;--size:0.694;"></div>
    <div class="o" o="0.72" style="--dcr:0.6;--ndx:0.867;--size:0.72;"></div>
    <div class="o" o="0.747" style="--dcr:0.667;--ndx:0.933;--size:0.747;"></div>
    <div class="o" o="0.773" style="--dcr:0.733;--ndx:1;--size:0.773;"></div>
    <div class="o" o="0.433" style="--dcr:-0.333;--ndx:0;--size:0.433;"></div>
    <div class="o" o="0.452" style="--dcr:-0.267;--ndx:0.067;--size:0.452;"></div>
    <div class="o" o="0.471" style="--dcr:-0.2;--ndx:0.133;--size:0.471;"></div>
    <div class="o" o="0.49" style="--dcr:-0.133;--ndx:0.2;--size:0.49;"></div>
    <div class="o" o="0.509" style="--dcr:-0.067;--ndx:0.267;--size:0.509;"></div>
    <div class="o" o="0.528" style="--dcr:0;--ndx:0.333;--size:0.528;"></div>
    <div class="o" o="0.547" style="--dcr:0.067;--ndx:0.4;--size:0.547;"></div>
    <div class="o" o="0.566" style="--dcr:0.133;--ndx:0.467;--size:0.566;"></div>
    <div class="o" o="0.584" style="--dcr:0.2;--ndx:0.533;--size:0.584;"></div>
    <div class="o" o="0.603" style="--dcr:0.267;--ndx:0.6;--size:0.603;"></div>
    <div class="o" o="0.622" style="--dcr:0.333;--ndx:0.667;--size:0.622;"></div>
    <div class="o" o="0.641" style="--dcr:0.4;--ndx:0.733;--size:0.641;"></div>
    <div class="o" o="0.66" style="--dcr:0.467;--ndx:0.8;--size:0.66;"></div>
    <div class="o" o="0.679" style="--dcr:0.533;--ndx:0.867;--size:0.679;"></div>
    <div class="o" o="0.698" style="--dcr:0.6;--ndx:0.933;--size:0.698;"></div>
    <div class="o" o="0.717" style="--dcr:0.667;--ndx:1;--size:0.717;"></div>
    <div class="o" o="0.49" style="--dcr:-0.4;--ndx:0;--size:0.49;"></div>
    <div class="o" o="0.501" style="--dcr:-0.333;--ndx:0.067;--size:0.501;"></div>
    <div class="o" o="0.513" style="--dcr:-0.267;--ndx:0.133;--size:0.513;"></div>
    <div class="o" o="0.524" style="--dcr:-0.2;--ndx:0.2;--size:0.524;"></div>
    <div class="o" o="0.535" style="--dcr:-0.133;--ndx:0.267;--size:0.535;"></div>
    <div class="o" o="0.547" style="--dcr:-0.067;--ndx:0.333;--size:0.547;"></div>
    <div class="o" o="0.558" style="--dcr:0;--ndx:0.4;--size:0.558;"></div>
    <div class="o" o="0.569" style="--dcr:0.067;--ndx:0.467;--size:0.569;"></div>
    <div class="o" o="0.581" style="--dcr:0.133;--ndx:0.533;--size:0.581;"></div>
    <div class="o" o="0.592" style="--dcr:0.2;--ndx:0.6;--size:0.592;"></div>
    <div class="o" o="0.603" style="--dcr:0.267;--ndx:0.667;--size:0.603;"></div>
    <div class="o" o="0.615" style="--dcr:0.333;--ndx:0.733;--size:0.615;"></div>
    <div class="o" o="0.626" style="--dcr:0.4;--ndx:0.8;--size:0.626;"></div>
    <div class="o" o="0.637" style="--dcr:0.467;--ndx:0.867;--size:0.637;"></div>
    <div class="o" o="0.649" style="--dcr:0.533;--ndx:0.933;--size:0.649;"></div>
    <div class="o" o="0.66" style="--dcr:0.6;--ndx:1;--size:0.66;"></div>
    <div class="o" o="0.547" style="--dcr:-0.467;--ndx:0;--size:0.547;"></div>
    <div class="o" o="0.55" style="--dcr:-0.4;--ndx:0.067;--size:0.55;"></div>
    <div class="o" o="0.554" style="--dcr:-0.333;--ndx:0.133;--size:0.554;"></div>
    <div class="o" o="0.558" style="--dcr:-0.267;--ndx:0.2;--size:0.558;"></div>
    <div class="o" o="0.562" style="--dcr:-0.2;--ndx:0.267;--size:0.562;"></div>
    <div class="o" o="0.566" style="--dcr:-0.133;--ndx:0.333;--size:0.566;"></div>
    <div class="o" o="0.569" style="--dcr:-0.067;--ndx:0.4;--size:0.569;"></div>
    <div class="o" o="0.573" style="--dcr:0;--ndx:0.467;--size:0.573;"></div>
    <div class="o" o="0.577" style="--dcr:0.067;--ndx:0.533;--size:0.577;"></div>
    <div class="o" o="0.581" style="--dcr:0.133;--ndx:0.6;--size:0.581;"></div>
    <div class="o" o="0.584" style="--dcr:0.2;--ndx:0.667;--size:0.584;"></div>
    <div class="o" o="0.588" style="--dcr:0.267;--ndx:0.733;--size:0.588;"></div>
    <div class="o" o="0.592" style="--dcr:0.333;--ndx:0.8;--size:0.592;"></div>
    <div class="o" o="0.596" style="--dcr:0.4;--ndx:0.867;--size:0.596;"></div>
    <div class="o" o="0.6" style="--dcr:0.467;--ndx:0.933;--size:0.6;"></div>
    <div class="o" o="0.603" style="--dcr:0.533;--ndx:1;--size:0.603;"></div>
    <div class="o" o="0.603" style="--dcr:-0.533;--ndx:0;--size:0.603;"></div>
    <div class="o" o="0.6" style="--dcr:-0.467;--ndx:0.067;--size:0.6;"></div>
    <div class="o" o="0.596" style="--dcr:-0.4;--ndx:0.133;--size:0.596;"></div>
    <div class="o" o="0.592" style="--dcr:-0.333;--ndx:0.2;--size:0.592;"></div>
    <div class="o" o="0.588" style="--dcr:-0.267;--ndx:0.267;--size:0.588;"></div>
    <div class="o" o="0.584" style="--dcr:-0.2;--ndx:0.333;--size:0.584;"></div>
    <div class="o" o="0.581" style="--dcr:-0.133;--ndx:0.4;--size:0.581;"></div>
    <div class="o" o="0.577" style="--dcr:-0.067;--ndx:0.467;--size:0.577;"></div>
    <div class="o" o="0.573" style="--dcr:0;--ndx:0.533;--size:0.573;"></div>
    <div class="o" o="0.569" style="--dcr:0.067;--ndx:0.6;--size:0.569;"></div>
    <div class="o" o="0.566" style="--dcr:0.133;--ndx:0.667;--size:0.566;"></div>
    <div class="o" o="0.562" style="--dcr:0.2;--ndx:0.733;--size:0.562;"></div>
    <div class="o" o="0.558" style="--dcr:0.267;--ndx:0.8;--size:0.558;"></div>
    <div class="o" o="0.554" style="--dcr:0.333;--ndx:0.867;--size:0.554;"></div>
    <div class="o" o="0.55" style="--dcr:0.4;--ndx:0.933;--size:0.55;"></div>
    <div class="o" o="0.547" style="--dcr:0.467;--ndx:1;--size:0.547;"></div>
    <div class="o" o="0.66" style="--dcr:-0.6;--ndx:0;--size:0.66;"></div>
    <div class="o" o="0.649" style="--dcr:-0.533;--ndx:0.067;--size:0.649;"></div>
    <div class="o" o="0.637" style="--dcr:-0.467;--ndx:0.133;--size:0.637;"></div>
    <div class="o" o="0.626" style="--dcr:-0.4;--ndx:0.2;--size:0.626;"></div>
    <div class="o" o="0.615" style="--dcr:-0.333;--ndx:0.267;--size:0.615;"></div>
    <div class="o" o="0.603" style="--dcr:-0.267;--ndx:0.333;--size:0.603;"></div>
    <div class="o" o="0.592" style="--dcr:-0.2;--ndx:0.4;--size:0.592;"></div>
    <div class="o" o="0.581" style="--dcr:-0.133;--ndx:0.467;--size:0.581;"></div>
    <div class="o" o="0.569" style="--dcr:-0.067;--ndx:0.533;--size:0.569;"></div>
    <div class="o" o="0.558" style="--dcr:0;--ndx:0.6;--size:0.558;"></div>
    <div class="o" o="0.547" style="--dcr:0.067;--ndx:0.667;--size:0.547;"></div>
    <div class="o" o="0.535" style="--dcr:0.133;--ndx:0.733;--size:0.535;"></div>
    <div class="o" o="0.524" style="--dcr:0.2;--ndx:0.8;--size:0.524;"></div>
    <div class="o" o="0.513" style="--dcr:0.267;--ndx:0.867;--size:0.513;"></div>
    <div class="o" o="0.501" style="--dcr:0.333;--ndx:0.933;--size:0.501;"></div>
    <div class="o" o="0.49" style="--dcr:0.4;--ndx:1;--size:0.49;"></div>
    <div class="o" o="0.717" style="--dcr:-0.667;--ndx:0;--size:0.717;"></div>
    <div class="o" o="0.698" style="--dcr:-0.6;--ndx:0.067;--size:0.698;"></div>
    <div class="o" o="0.679" style="--dcr:-0.533;--ndx:0.133;--size:0.679;"></div>
    <div class="o" o="0.66" style="--dcr:-0.467;--ndx:0.2;--size:0.66;"></div>
    <div class="o" o="0.641" style="--dcr:-0.4;--ndx:0.267;--size:0.641;"></div>
    <div class="o" o="0.622" style="--dcr:-0.333;--ndx:0.333;--size:0.622;"></div>
    <div class="o" o="0.603" style="--dcr:-0.267;--ndx:0.4;--size:0.603;"></div>
    <div class="o" o="0.584" style="--dcr:-0.2;--ndx:0.467;--size:0.584;"></div>
    <div class="o" o="0.566" style="--dcr:-0.133;--ndx:0.533;--size:0.566;"></div>
    <div class="o" o="0.547" style="--dcr:-0.067;--ndx:0.6;--size:0.547;"></div>
    <div class="o" o="0.528" style="--dcr:0;--ndx:0.667;--size:0.528;"></div>
    <div class="o" o="0.509" style="--dcr:0.067;--ndx:0.733;--size:0.509;"></div>
    <div class="o" o="0.49" style="--dcr:0.133;--ndx:0.8;--size:0.49;"></div>
    <div class="o" o="0.471" style="--dcr:0.2;--ndx:0.867;--size:0.471;"></div>
    <div class="o" o="0.452" style="--dcr:0.267;--ndx:0.933;--size:0.452;"></div>
    <div class="o" o="0.433" style="--dcr:0.333;--ndx:1;--size:0.433;"></div>
    <div class="o" o="0.773" style="--dcr:-0.733;--ndx:0;--size:0.773;"></div>
    <div class="o" o="0.747" style="--dcr:-0.667;--ndx:0.067;--size:0.747;"></div>
    <div class="o" o="0.72" style="--dcr:-0.6;--ndx:0.133;--size:0.72;"></div>
    <div class="o" o="0.694" style="--dcr:-0.533;--ndx:0.2;--size:0.694;"></div>
    <div class="o" o="0.668" style="--dcr:-0.467;--ndx:0.267;--size:0.668;"></div>
    <div class="o" o="0.641" style="--dcr:-0.4;--ndx:0.333;--size:0.641;"></div>
    <div class="o" o="0.615" style="--dcr:-0.333;--ndx:0.4;--size:0.615;"></div>
    <div class="o" o="0.588" style="--dcr:-0.267;--ndx:0.467;--size:0.588;"></div>
    <div class="o" o="0.562" style="--dcr:-0.2;--ndx:0.533;--size:0.562;"></div>
    <div class="o" o="0.535" style="--dcr:-0.133;--ndx:0.6;--size:0.535;"></div>
    <div class="o" o="0.509" style="--dcr:-0.067;--ndx:0.667;--size:0.509;"></div>
    <div class="o" o="0.482" style="--dcr:0;--ndx:0.733;--size:0.482;"></div>
    <div class="o" o="0.456" style="--dcr:0.067;--ndx:0.8;--size:0.456;"></div>
    <div class="o" o="0.43" style="--dcr:0.133;--ndx:0.867;--size:0.43;"></div>
    <div class="o" o="0.403" style="--dcr:0.2;--ndx:0.933;--size:0.403;"></div>
    <div class="o" o="0.377" style="--dcr:0.267;--ndx:1;--size:0.377;"></div>
    <div class="o" o="0.83" style="--dcr:-0.8;--ndx:0;--size:0.83;"></div>
    <div class="o" o="0.796" style="--dcr:-0.733;--ndx:0.067;--size:0.796;"></div>
    <div class="o" o="0.762" style="--dcr:-0.667;--ndx:0.133;--size:0.762;"></div>
    <div class="o" o="0.728" style="--dcr:-0.6;--ndx:0.2;--size:0.728;"></div>
    <div class="o" o="0.694" style="--dcr:-0.533;--ndx:0.267;--size:0.694;"></div>
    <div class="o" o="0.66" style="--dcr:-0.467;--ndx:0.333;--size:0.66;"></div>
    <div class="o" o="0.626" style="--dcr:-0.4;--ndx:0.4;--size:0.626;"></div>
    <div class="o" o="0.592" style="--dcr:-0.333;--ndx:0.467;--size:0.592;"></div>
    <div class="o" o="0.558" style="--dcr:-0.267;--ndx:0.533;--size:0.558;"></div>
    <div class="o" o="0.524" style="--dcr:-0.2;--ndx:0.6;--size:0.524;"></div>
    <div class="o" o="0.49" style="--dcr:-0.133;--ndx:0.667;--size:0.49;"></div>
    <div class="o" o="0.456" style="--dcr:-0.067;--ndx:0.733;--size:0.456;"></div>
    <div class="o" o="0.422" style="--dcr:0;--ndx:0.8;--size:0.422;"></div>
    <div class="o" o="0.388" style="--dcr:0.067;--ndx:0.867;--size:0.388;"></div>
    <div class="o" o="0.354" style="--dcr:0.133;--ndx:0.933;--size:0.354;"></div>
    <div class="o" o="0.32" style="--dcr:0.2;--ndx:1;--size:0.32;"></div>
    <div class="o" o="0.887" style="--dcr:-0.867;--ndx:0;--size:0.887;"></div>
    <div class="o" o="0.845" style="--dcr:-0.8;--ndx:0.067;--size:0.845;"></div>
    <div class="o" o="0.804" style="--dcr:-0.733;--ndx:0.133;--size:0.804;"></div>
    <div class="o" o="0.762" style="--dcr:-0.667;--ndx:0.2;--size:0.762;"></div>
    <div class="o" o="0.72" style="--dcr:-0.6;--ndx:0.267;--size:0.72;"></div>
    <div class="o" o="0.679" style="--dcr:-0.533;--ndx:0.333;--size:0.679;"></div>
    <div class="o" o="0.637" style="--dcr:-0.467;--ndx:0.4;--size:0.637;"></div>
    <div class="o" o="0.596" style="--dcr:-0.4;--ndx:0.467;--size:0.596;"></div>
    <div class="o" o="0.554" style="--dcr:-0.333;--ndx:0.533;--size:0.554;"></div>
    <div class="o" o="0.513" style="--dcr:-0.267;--ndx:0.6;--size:0.513;"></div>
    <div class="o" o="0.471" style="--dcr:-0.2;--ndx:0.667;--size:0.471;"></div>
    <div class="o" o="0.43" style="--dcr:-0.133;--ndx:0.733;--size:0.43;"></div>
    <div class="o" o="0.388" style="--dcr:-0.067;--ndx:0.8;--size:0.388;"></div>
    <div class="o" o="0.346" style="--dcr:0;--ndx:0.867;--size:0.346;"></div>
    <div class="o" o="0.305" style="--dcr:0.067;--ndx:0.933;--size:0.305;"></div>
    <div class="o" o="0.263" style="--dcr:0.133;--ndx:1;--size:0.263;"></div>
    <div class="o" o="0.943" style="--dcr:-0.933;--ndx:0;--size:0.943;"></div>
    <div class="o" o="0.894" style="--dcr:-0.867;--ndx:0.067;--size:0.894;"></div>
    <div class="o" o="0.845" style="--dcr:-0.8;--ndx:0.133;--size:0.845;"></div>
    <div class="o" o="0.796" style="--dcr:-0.733;--ndx:0.2;--size:0.796;"></div>
    <div class="o" o="0.747" style="--dcr:-0.667;--ndx:0.267;--size:0.747;"></div>
    <div class="o" o="0.698" style="--dcr:-0.6;--ndx:0.333;--size:0.698;"></div>
    <div class="o" o="0.649" style="--dcr:-0.533;--ndx:0.4;--size:0.649;"></div>
    <div class="o" o="0.6" style="--dcr:-0.467;--ndx:0.467;--size:0.6;"></div>
    <div class="o" o="0.55" style="--dcr:-0.4;--ndx:0.533;--size:0.55;"></div>
    <div class="o" o="0.501" style="--dcr:-0.333;--ndx:0.6;--size:0.501;"></div>
    <div class="o" o="0.452" style="--dcr:-0.267;--ndx:0.667;--size:0.452;"></div>
    <div class="o" o="0.403" style="--dcr:-0.2;--ndx:0.733;--size:0.403;"></div>
    <div class="o" o="0.354" style="--dcr:-0.133;--ndx:0.8;--size:0.354;"></div>
    <div class="o" o="0.305" style="--dcr:-0.067;--ndx:0.867;--size:0.305;"></div>
    <div class="o" o="0.256" style="--dcr:0;--ndx:0.933;--size:0.256;"></div>
    <div class="o" o="0.207" style="--dcr:0.067;--ndx:1;--size:0.207;"></div>
    <div class="o" o="1" style="--dcr:-1;--ndx:0;--size:1;"></div>
    <div class="o" o="0.943" style="--dcr:-0.933;--ndx:0.067;--size:0.943;"></div>
    <div class="o" o="0.887" style="--dcr:-0.867;--ndx:0.133;--size:0.887;"></div>
    <div class="o" o="0.83" style="--dcr:-0.8;--ndx:0.2;--size:0.83;"></div>
    <div class="o" o="0.773" style="--dcr:-0.733;--ndx:0.267;--size:0.773;"></div>
    <div class="o" o="0.717" style="--dcr:-0.667;--ndx:0.333;--size:0.717;"></div>
    <div class="o" o="0.66" style="--dcr:-0.6;--ndx:0.4;--size:0.66;"></div>
    <div class="o" o="0.603" style="--dcr:-0.533;--ndx:0.467;--size:0.603;"></div>
    <div class="o" o="0.547" style="--dcr:-0.467;--ndx:0.533;--size:0.547;"></div>
    <div class="o" o="0.49" style="--dcr:-0.4;--ndx:0.6;--size:0.49;"></div>
    <div class="o" o="0.433" style="--dcr:-0.333;--ndx:0.667;--size:0.433;"></div>
    <div class="o" o="0.377" style="--dcr:-0.267;--ndx:0.733;--size:0.377;"></div>
    <div class="o" o="0.32" style="--dcr:-0.2;--ndx:0.8;--size:0.32;"></div>
    <div class="o" o="0.263" style="--dcr:-0.133;--ndx:0.867;--size:0.263;"></div>
    <div class="o" o="0.207" style="--dcr:-0.067;--ndx:0.933;--size:0.207;"></div>
    <div class="o" o="0.15" style="--dcr:0;--ndx:1;--size:0.15;"></div>
  </div>
  <div class="footer">We are fixing the problem.</div>
</div>
<blockquote class="info">
  <div class="tip">* <kbd>Hover</kbd> to animate<br/>* <kbd>Click</kbd> to reset</div>inspired from <a href="https://tympanus.net/codrops/collective/collective-500/">Codrops Collective #500 cover</a>
</blockquote>
<!-- partial -->
  
</body>
</html>
