<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/signin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
<div class="wrapper bg-white">
<!--    <div class="h2 text-center">Creativity</div>-->
<!--    <div class="h2 text-center">Contest</div>-->
    <div class="h5 font-weight-bold">Registration</div>
    <div class="text-muted">Enter your registration details</div>
    <form action="http://localhost:5000/user_sign_in" method="post">
        <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1">
            <div class="form-group">
                <label class="text-muted mandatory">Name</label>
                <input name="name" type="text" required class="form-control">
            </div>
            <div class="form-group">
                <label class="text-muted mandatory">family</label>
                <input name="family" type="text" required class="form-control">
            </div>
        </div>
        <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1">
            <div class="form-group">
                <label class="text-muted mandatory">username</label>
                <input name="username" type="text" required class="form-control">
            </div>
            <div class="form-group">
                <label class="text-muted">phoneNumber</label>
                <input name="phone" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="text-muted mandatory">Password</label>
            <input name="password" type="password" required class="form-control">
        </div>
        <div class="d-flex align-items-center justify-content-sm-end button-section">
            <input type="submit" class="btn btn-primary mx-4">
            <button class="btn">Cancel</button>
        </div>
    </form>
</div>
</body>
</html>